<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=DynaPuff:wght@500&family=Miniver&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <title>{% if title %}{{ title }} · {% endif %}Victory Sparkle Co.</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo-section">
                <div class="profile-image"><img src="/images/Vlogo.png"></div>
                <div class="site-title">Victory Sparkle Co.</div>
            </div>
            <nav>
                <a href="/apps/pinpress/">Button Maker</a>
                <a href="#coding-projects">Coding Projects</a>
                <a href="#pinterest">Works in Progress</a>
                <a href="#contact">Contact</a>
                <a href="/resources/">Resources</a>
                <a href="/map/">Travel Map</a>
            </nav>
        </div>
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Victory Sparkle Co. All rights reserved.</p>
            <div class="footer-links">
                <a href="/apps/pinpress/">Button Maker</a>
                <a href="#coding-projects">Coding Projects</a>
                <a href="#pinterest">Works in Progress</a>
                <a href="#contact">Contact</a>
                <a href="/resources/">Resources</a>
                <a href="/map/">Travel Map</a>
            </div>
            <div><br> <p><em>Semper Desiderari, Princess Sandy</em></p></div>
        </div>
    </footer>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
</body>
</html>
